[user]
  name = o-nigo
  email = ogy415@gmail.com
[color]
  ui = auto
[core]
  editor = vim
  autocrlf = false
  safecrlf = true
[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  co = checkout
  ci = commit
  st = status
  b = branch
  sm = submodule
  ps = push
  pl = pull
  d = diff
  l = log
  br = branch
